
.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

    .table th {
        background-color: #007BFF;
        color: white;
        padding: 10px;
        text-align: left;
    }

    .table tbody tr:nth-child(even) {
        background-color: #f2f2f2;
    }

        .table tbody tr:nth-child(even):hover{
            background-color: aliceblue;
        }

        .table td {
            padding: 10px;
        }

.truncate-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn {
    padding: 5px 10px;
    margin: 2px;
    cursor: pointer;
}

.align-middle {
    vertical-align: middle;
}

.clickable-row {
    cursor: pointer;
}

    .clickable-row:hover{
        background-color: aliceblue;
    }

    @media (max-width: 767px) {
        .table-responsive {
            overflow-x: auto;
            -webkit-overflow-scrolling: touch;
            -ms-overflow-style: -ms-autohiding-scrollbar;
        }

            .table-responsive .hide-on-mobile {
                display: none;
            }

        .d-flex.justify-content-between {
            flex-direction: column;
        }

            .d-flex.justify-content-between > div {
                margin-bottom: 10px;
            }

        .dropdown {
            margin-top: 10px;
        }
    }
