
/* Basic table styling */
.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

/* Table header styling */
.table th {
    background-color: #007BFF;
    color: white;
    padding: 10px;
    text-align: left;
}

/* Alternating row colors */
.table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Cell styling */
.table td {
    padding: 10px;
}

/* Truncate text style */
.truncate-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Button styling */
.btn {
    padding: 5px 10px;
    margin: 2px;
    cursor: pointer;
}

.align-middle {
    vertical-align: middle;
}

.clickable-row{
    cursor: pointer;
}

/* Media query for smaller screens */
@media only screen and (max-width: 767px) {
    /* Adjust styles for smaller screens here */
    .table th, .table td {
        padding: 8px; /* Adjust padding for smaller screens */
    }

    .truncate-text {
        white-space: normal; /* Allow text to wrap on smaller screens */
    }

    .btn {
        padding: 4px 8px; /* Adjust button padding for smaller screens */
    }

    .d-flex {
        flex-direction: column; /* Stack dropdown and other elements vertically on smaller screens */
        align-items: flex-end; /* Align elements to the right on smaller screens */
    }
}

